:root {
  --primary: #f0b40c;
  --secondary: #0a2611;
  --accent: #f8812d;
  --yellow-10: #faf5e7;
  --yellow-20: #fcd16b;
  --yellow4: #ffdd8c;
  --info: #2f80ed;
  --info-10: #eaf3ff;
  --success: #27ae60;
  --warning: #ffa963;
  --error: #ef4444;
  --black1: #231f1e;
  --black2: #1d1d1d;
  --black3: #393939;
  --black4: #263238;
  --gray1: #333333;
  --gray2: #4f4f4f;
  --gray3: #7e7a7a;
  --gray4: #bdbdbd;
  --gray5: #f5f3f3;
}

html,
body {
  --mantine-color-body: var(--gray5);
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

fieldset {
  border-width: 0;
  border: none;
}

/** third-party library  **/
.fc.fc-theme-standard {
  height: 100%;
}

/* customized css  */
.cursor-pointer {
  cursor: pointer;
}

.text-shadow {
  text-shadow: 2px 3px 8px #393939b0;
}
